<h1 class="header">Retailers Information</h1>

<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">

        <a routerLink="add-retailer" ><button>Add Retailer</button></a>
        <a routerLink="update-retailer" ><button>Find Retailer</button></a>
        <a routerLink="remove-retailer" ><button>Remove Retailer</button></a>
        <a routerLink="find-retailer" ><button>Update Retailer</button></a>
        <a routerLink="retailer-list" ><button>Retailer List</button></a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>